@import "~normalize.css";

body {
  background-color: rgb(230, 219, 238);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva,
    Verdana, sans-serif;
  max-height: 100vh;
  height: 100%;

  &.modal-opened {
    @media (max-height: 685px) {
      padding-right: 17px;
    }

    height: 100vh;
    overflow-y: hidden;
  }
}

.input {
  border: none;
  padding: 1rem 3rem 1rem 1rem;
  border-radius: 1rem;
  background-color: rgb(230, 230, 230);
  resize: none;
  &:focus,
  &:hover,
  &:active {
    outline: 0;
  }

  &._error {
    box-shadow: 2px 2px 4px red;
  }
}

.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form {
  padding: 1rem 2rem;
  background-color: white;
  display: flex;
  width: 20%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  box-shadow: 2px 2px 1rem rgba($color: black, $alpha: 0.6);
}

.title {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

.field {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: left;
  width: 100%;
  margin-bottom: 1rem;
  label {
    margin-bottom: 0.2rem;
  }
}

.submit {
  border: none;
  color: white;
  padding: 1rem;
  font-size: 28px;
  border-radius: 1rem;
  transition: background-color 0.2s linear;
  background-color: #652c87;
  &:hover {
    background-color: #e0701b;
  }
}

.info {
  padding: 0.2rem 0.6rem;
  border-radius: 50%;
  border: 0.1rem solid black;
  background-color: rgb(230, 230, 230);
  color: black;
  font-weight: 700;
  margin-bottom: 1rem;
}
